.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 72px;
}

.title1 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 0ms;
}

.title2 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 75ms;
}

.title3 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 150ms;
}

.title4 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 225ms;
  /*transform: scaleX(-1);*/
}

.title5 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 300ms;
  /*transform: scaleX(-1);*/
}

.title6 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 375ms;
}

.title7 {
  display: inline-block;
  animation: vars 9s infinite linear both;
  animation-delay: 450ms;
  /*transform: scaleX(-1);*/
}

@keyframes vars {
  0% {
    font-variation-settings: "wght" 100, "wdth" 0;
  }

  25% {
    font-variation-settings: "wght" 100, "wdth" 1000;
  }

  50% {
    font-variation-settings: "wght" 800, "wdth" 1000;
  }

  75% {
    font-variation-settings: "wght" 600, "wdth" 0;
  }

  100% {
    font-variation-settings: "wght" 100, "wdth" 0;
  }
}
